<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <style>
        .widget{
            width: 90%;
        }

        .widget table{
            max-height: 600px;
            overflow: scroll;
        }
    </style>
</head>

<body>
    {{> header }}
    <center>
        <h1>Category</h1>
        <div class="widget">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <a href="/admin/addCategory" class="button">Add category</a>
                    </div>
                </div>
                <div class="row"></div>
            </div>
            <table style="border: 1px solid black;" class="tbl">
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Quote</th>
                    <th>Author</th>
                    <th>Option</th>
                </tr>
                {{#each categories}}
                <tr>
                    <td>{{indexFix @index }}</td>
                    <td>{{name}}</td>
                    <td>{{quote}}</td>
                    <td>{{author}}</td>
                    <td>
                        <a href="/admin/editCategory?id={{ _id }}">
                            Edit
                        </a><br>
                        <a href="/admin/deleteCategory/{{_id}}">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </center>
</body>

</html>