<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FPT Bookstore</title>
        <style>
            .widget {
                width: 100%;
                max-height: 500px;
                overflow: auto;
                padding: 0px 8px 12px 8px;
            }

            .widget th {
                position: sticky;
                top: 0;
                z-index: 2;
                background-color: white;
                border-top: 1px solid red;
                box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 20px,
                    rgba(0, 0, 0, 0.05) 0px 6px 6px;
            }

            .widget::-webkit-scrollbar {
                display: none;
            }

            .tags {
                margin-left: 0px;
            }

            .grid-container {
                display: grid;
                grid-template-columns: auto auto auto;
                padding: 10px;
            }

            .grid-item {
                padding: 20px;
                font-size: 30px;
                text-align: left;
            }

            #middle{
                border-right: 1px solid rgba(0, 0, 0, 0.8);
                border-left: 1px solid rgba(0, 0, 0, 0.8);
            }

        </style>
    </head>

    <body>
        {{> header }}
        <div class="block" style="width: 80%; margin-top: 100px; background-color: rgba(255, 255, 255, 0.8)">
            <div class="row tags" style="display: inline; margin-left: 2px">
                <span class="heading">This week:</span>
                <a href="/book/category?cat=editorChoice">
                    <span class="head-link" style="float: right;">
                        Manage
                    </span>
                </a>
            </div>
            <br><br>
            <div class="grid-container">
                <div class="grid-item">New Orders:
                    <p>10</p>
                </div>
                <div class="grid-item" id="middle">Delivering Orders:
                    <p>12</p>
                </div>
                <div class="grid-item">Finished Orders:
                    <p>14</p>
                </div>
            </div>
        </div>
        <div class="block" style="width: 80%; margin-top: 30px">
            <div class="row tags" style="display: inline; margin-left: 2px">
                <span class="heading">Orders</span>
            </div>
            <a href="/book/category?cat=editorChoice">
                    <span class="head-link" style="float: right;">
                        Manage
                    </span>
                </a>
            <br><br>
        </div>
        <div class="block" style="width: 80%; margin-top: 30px">
            <div class="row tags" style="display: inline; margin-left: 2px">
                <span class="heading">Books</span>
            </div>
            <a href="/book/category?cat=editorChoice">
                    <span class="head-link" style="float: right;">
                        Manage
                    </span>
                </a>
            <br><br>
            <div class="widget">
                <table class="ui padded selectable fixed table tbl">
                    <tr>
                        <th style="width: 60px;">No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th class="center aligned">Price ($)</th>
                        <th class="center aligned">Stock</th>
                        <th class="center aligned">Popularity</th>
                        <th class="center aligned">Image</th>
                        <th class="center aligned">Option</th>
                    </tr>
                    {{#each books}}
                        <tr>
                            <td style="width: 60px;">{{indexFix @index }}</td>
                            <td><span class="name">{{name}}</span></td>
                            <td>
                                {{#each category }}
                                    <p style="font-family: Maison-demi;">{{this}}</p>
                                {{/each}}
                            </td>
                            <td>{{author}}</td>
                            <td>{{publisher}}</td>
                            <td class="center aligned">{{price}}</td>
                            <td class="center aligned">{{quantity}}</td>
                            <td class="center aligned">{{popularity}}</td>
                            <td class="center aligned"><img src="/Books/{{image}}" height="160px">
                            </td>
                            <td class="center aligned">
                                <a href="/admin/edit?id={{ _id }}" class="btn">
                                    Edit
                                </a>
                                <br>
                                <a href="/admin/deleteBook?id={{ _id }}" class="btn"
                                   onclick="return confirm('Do you want to delete this book ?' {{name}});">Delete</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
            <br>
        </div>
        <div class="block" style="width: 80%; margin-top: 30px">
            <div class="row tags" style="display: inline;">
                <span class="heading">Users</span>
            </div>
            <a href="/book/category?cat=editorChoice">
                    <span class="head-link" style="float: right;">
                        Manage
                    </span>
                </a>
            <br><br>
            <div class="widget">
                <table class="ui padded selectable fixed table tbl">
                    <tr>
                        <th style="width: 60px;">No</th>
                        <th class="center aligned">Username</th>
                        <th class="center aligned">Password</th>
                        <th class="center aligned">Role</th>
                        <th class="center aligned">Avatar</th>
                        <th class="center aligned">Option</th>
                    </tr>
                    {{#each users}}
                        <tr>
                            <td style="width: 60px;">{{indexFix @index }}</td>
                            <td class="center aligned">{{userName}}</td>
                            <td class="center aligned">{{password}}</td>
                            <td class="center aligned">{{role}}</td>
                            <td class="center aligned"><img src="/Avatars/{{avatar}}" height="100px">
                            <td class="center aligned">
                                <a href="/admin/editUser?id={{ _id }}" class="btn">
                                    Edit
                                </a><br>
                                <a href="/admin/deleteUser?id={{ _id }}" class="btn">Delete</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="block" style="width: 80%; margin-top: 30px">
            <div class="row tags" style="display: inline;">
                <span class="heading">Categories</span>
            </div>
            <a href="/book/category?cat=editorChoice">
                    <span class="head-link" style="float: right;">
                        Manage
                    </span>
                </a>
            <br><br>
            <div class="widget">
                <table class="ui padded selectable fixed table tbl">
                    <tr>
                        <th style="width: 60px;">No</th>
                        <th class="center aligned">Name</th>
                        <th class="center aligned">Quote</th>
                        <th class="center aligned">Author</th>
                        <th class="center aligned">Option</th>
                    </tr>
                    {{#each categories}}
                        <tr>
                            <td style="width: 60px;">{{indexFix @index }}</td>
                            <td class="center aligned">{{name}}</td>
                            <td class="center aligned">{{quote}}</td>
                            <td class="center aligned">{{author}}</td>
                            <td class="center aligned">
                                <a href="/admin/editCategory?id={{ _id }}" class="btn">
                                    Edit
                                </a><br>
                                <a href="/admin/deleteCategory/{{_id}}" class="btn">Delete</a>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        {{>footer}}
    </body>

</html>
