<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update category</title>
    </head>

    <body>
        {{> header }}
        <center>
            <br>
            <h1>Update category</h1>
            <br>
            <form action="updateCategory" method="POST" class="input-form" enctype="multipart/form-data">
                <input type="hidden" name="txtID" value="{{category._id}}">
                <input type="text" name="txtName" id="" placeholder="{{ category.name }}" value="{{ category.name }}" class="inp">
                <br>
                <input type="text" name="txtQuote" id="" placeholder="{{ category.quote}}" value="{{ category.quote}}" class="inp">
                <br>
                <input type="text" name="txtAuthor" id="" placeholder="{{ category.author }}" value="{{ category.author }}" class="inp">
                <br>
                <input type="submit" value="Update book" id="btn_Save" class="inp">
            </form>
        </center>
    </body>
</html>
