<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update book</title>
    </head>

    <body>
        {{> header }}
        {{> cursor }}
        <center>
            <br>
            <form action="updateBook" method="POST" class="input-form" enctype="multipart/form-data">
                <input type="hidden" name="txtID" value="{{book._id}}">
                <input type="text" name="txtName" id="" placeholder="Enter book's name" value="{{ book.name }}">
                <br>
                <input type="text" name="txtDescription" placeholder="Enter book's description" id="description" value="{{ book.description }}">
                <br>
                <input type="number" name="numPrice" placeholder="Enter book's price" value="{{ book.price }}">
                <br>
                <input type="number" name="numQuantity" placeholder="Enter quantity in storage" value="{{ book.quantity }}">'
                <br>
                <input type="file" name="image" placeholder="Select book's image" value="{{ book.image.name }}">
                <br>
                <input type="submit" value="Update book" id="">
            </form>
        </center>
    </body>
</html>
