<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Homepage</title>
    </head>

    <body>
        {{> header }}
        {{> cursor }}
        <br /><br />
        <center>
            <h1>Homepage</h1>
            <h1>Welcome {{ userInfo.userName }}, {{ userInfo.role }}</h1>
            <table style="border: 1px solid black;">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Image</th>
                    <th>Option</th>
                </tr>
                {{#each books}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{price}}</td>
                        <td>{{quantity}}</td>
                        <td>
                            <img src="/Books/{{image}}" height="100px">
                        </td>
                        <td>
                            <td><a href="/updateBook/{{_id}}">Update</a></td>
                        </td>
                    </tr>
                {{/each}}
            </table>
        </center>
    </body>

</html>
