<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Homepage</title>
        <style>
            html {
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
            }

            .banner {
                margin-top: 10px;
                margin-left: 2%;
                height: 790px;
                width: 96%;
                background-color: crimson;
                border-radius: 50px;
            }

            .book-cards {
                margin: 17px 0px;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
            }

            .book-info h3,
            h5 {
                margin: 0;
            }

            .book-card {
                position: relative;
                margin: 7px 0px;
                border: 1px solid #ccc;
                height: 490px;
                width: 240px;
                transition-duration: 0.3s;
            }

            .book-card:hover {
                border: 1px solid crimson;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
                    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
                
            }

            .book-card .img-card :hover {
                background-size: 130% 150%;
            }

            .img-card {
                height: 350px;
                width: 240px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .heading {
                font-size: 22px;
                font-family: Maison-Medium;
            }

            .head-link {
                font-size: 18px;
                font-family: Maison-Medium;
            }

            .tags {
                margin-top: 60px;
                margin-bottom: 30px;
            }

            .book-card button {
                position: absolute;
                border: none;
                outline: 0;
                padding: 12px;
                color: white;
                background-color: #282828;
                text-align: center;
                cursor: pointer;
                width: 100%;
                font-size: 18px;
                transition-duration: 0.6s;
                transition: all 0.6s ease-in-out;
                left: 0;
                bottom: 0;
            }

            .book-card h3 {
                padding: 10px;
                height: 60px;
                word-wrap: break-word;
                overflow: hidden;
            }

            .book-card button:hover {
                background-color: crimson;
            }

            .price {
                color: grey;
                font-size: 18px;
            }

        </style>
    </head>

    <body>
        {{> header }}
        <br /><br />
        <div class="banner"></div>
        <div class="body">
            <center>
                <br>
                <h1 style="margin-top: 10px;">
                    Welcome to FBooks
                </h1>

                <div>
                    <p>
                        "Books are the quietest and most constant of friends; they are the most accessible <br>
                        and wisest of counselors, and the most patient of teachers."
                    </p>
                    <p style="margin-top: -12px; margin-left:400px">
                        - Charles W. Eliot
                    </p>
                </div>
                <img src="/Page/banner.png" alt="" height="550px" width="auto">
                <br>
            </center>
            <div class="row tags" style="display: inline;">
                <span class="heading">What's popular</span>
                <span class="head-link" style="float: right;"> <a href="">See more</a></span>
            </div>
            <br>
            <div class="book-cards">
                {{#each popular }}
                    <div class="item">
                        <a href="/book?id={{ _id }}">
                            <div class="book-card">
                                <div class="img-card" style="background-image: url('/Books/{{image}}');">
                                </div>
                                <center>
                                    <div class="book-info">
                                        <h3>{{name}}</h3>
                                        <p class="price">${{ price }}</p>
                                        <p><a href=""><button>Add to Cart</button></a></p>
                                    </div>
                                </center>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
            <br>
            <div class="row tags" style="display: inline;">
                <span class="heading">Editor's Choice</span>
                <span class="head-link" style="float: right;"> <a href="">See more</a></span>
            </div>
            <br>
            <div class="book-cards">
                {{#each editorChoice }}
                    <div class="item">
                        <a href="/book?id={{ _id }}">
                            <div class="book-card">
                                <div class="img-card" style="background-image: url('/Books/{{image}}');">
                                </div>
                                <center>
                                    <div class="book-info">
                                        <h3>{{name}}</h3>
                                        <p class="price">${{ price }}</p>
                                        <p><a href=""><button>Add to Cart</button></a></p>
                                    </div>
                                </center>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
            <br>
            <div class="row tags" style="display: inline;">
                <span class="heading">Newly Added</span>
                <span class="head-link" style="float: right;"><a href="">See more</a></span>
            </div>
            <br>
            <div class="book-cards">
                {{#each newlyAdded }}
                    <div class="item">
                        <a href="/book?id={{ _id }}">
                            <div class="book-card">
                                <div class="img-card" style="background-image: url('/Books/{{image}}');">
                                </div>
                                <center>
                                    <div class="book-info">
                                        <h3>{{name}}</h3>
                                        <p class="price">${{ price }}</p>
                                        <p><a href=""><button>Add to Cart</button></a></p>
                                    </div>
                                </center>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    </body>
    {{> footer }}

</html>
