<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>FPT Bookstore</title>
        <style>
            html {
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
            }

            @media screen and (max-width: 992px) {
                .book-cards {
                    grid-template-columns: repeat(4, 1fr);
                }
            }

            .banner {
                height: 100%;
                width: 100%;
                margin-top: -40px;
                margin-bottom: 50px;
                display: flex;
                position: relative;
            }

            .banner .left-col {
                width: 40%;
                height: 100%;
            }

            .banner .right-col {
                width: 60%;
                height: 100%;
            }

            .banner .right-col img {
                margin-top: 14%;
                margin-left: 125px;
            }

            .intro-paragraph {
                margin-top: 43%;
                margin-left: 24%;
            }

            .intro-paragraph p {
                font-family: Editor-Light;
                font-size: 80px;
                line-height: 95px;
            }
        </style>
    </head>

    <body>
        {{> header }}
        <div class="banner">
            <div class="left-col">
                <div class="intro-paragraph">
                    <p>
                        Hello, <br>
                        FPT <span style="color: crimson;">Bookstore</span><br>
                        welcomes you
                    </p>
                </div>
                <a href="/book/category?cat=all">
                    <div class="shop-btn">
                        Shop now
                        <img src="/Logo/arrow.png" alt="" height="30px" class="arrow">
                    </div>
                </a>
            </div>
            <div class="right-col">
                <img src="/Logo/people.png" width="auto" height="664px" alt="">
            </div>
        </div>
        <div class="block">
            <div class="row tags" style="display: inline;">
                <span class="heading">What's popular</span>
                <a href="/book/category?cat=popular">
                    <span class="head-link" style="float: right;">
                        See more
                    </span>
                </a>
            </div>
            <br>
            <div class="book-cards">
                {{#each popular }}
                    <div class="item">
                        <a href="/book?id={{ _id }}">
                            <div class="book-card">
                                <div class="img-card" style="background-image: url('/Books/{{image}}');">
                                </div>
                                <div class="author">{{ author }}</div>
                                <div class="name">{{name}}</div>
                                <div class="btm-row">
                                    <div class="price">$ {{ price }}</div>
                                    <div class="sold">Left: {{ quantity }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
        <br>
        <div class="block">
            <div class="row tags" style="display: inline;">
                <span class="heading">Editor's Choice</span>
                <a href="/book/category?cat=editorChoice">
                    <span class="head-link" style="float: right;">
                        See more
                    </span>
                </a>
            </div>
            <br>
            <div class="book-cards">
                {{#each editorChoice }}
                    <div class="item">
                        <a href="/book?id={{ _id }}">
                            <div class="book-card">
                                <div class="img-card" style="background-image: url('/Books/{{image}}');">
                                </div>
                                <div class="author">{{ author }}</div>
                                <div class="name">{{name}}</div>
                                <div class="btm-row">
                                    <div class="price">$ {{ price }}</div>
                                    <div class="sold">Left: {{ quantity }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
        <br>
        <div class="block">
            <div class="row tags" style="display: inline;">
                <span class="heading">Newly Added</span>
                <a href="/book/category?cat=newlyAdded">
                    <span class="head-link" style="float: right;">
                        See more
                    </span>
                </a>
            </div>
            <br>
            <div class="book-cards">
                {{#each newlyAdded }}
                    <div class="item">
                        <a href="/book?id={{ _id }}">
                            <div class="book-card">
                                <div class="img-card" style="background-image: url('/Books/{{image}}');">
                                </div>
                                <div class="author">{{ author }}</div>
                                <div class="name">{{name}}</div>
                                <div class="btm-row">
                                    <div class="price">$ {{ price }}</div>
                                    <div class="sold">Left: {{ quantity }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
        <br>
        <div class="block">
            <div class="row tags" style="display: inline;">
                <span class="heading">Can't find what you looking for?</span>
            </div>
            <br><br>
            <form action="/book/advanceSearch" method="GET" class="ui form">
                <h4 class="ui dividing header">Advanced Search</h4>
                <div class="fields">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="key" id="" style="width: 280px;" placeholder="Enter any keyword">
                    </div>
                    <div class="field">
                        <label>Author</label>
                        <input type="text" name="key" id="" style="width: 280px;" placeholder="Enter any Author">
                    </div>
                    <div class="field">
                        <label>Publisher</label>
                        <input type="text" name="key" id="" style="width: 280px;" placeholder="Enter any Publisher">
                    </div>
                    <div class="field">
                        <label>Category</label>
                        <select name="txtCategory" id="multi-select" multiple="" class="ui dropdown search inp"
                                style=" width: 300px;">
                            <option value="">Select one</option>
                            {{#each categories}}
                                <option value="{{name}}" type="checkbox">{{name}}</option>
                            {{/each}}
                        </select>
                        <script>
                            $('#multi-select').dropdown(
                                { maxSelections: 1 }
                            );
                        </script>
                    </div>
                    <div class="field">
                        <label>Max Price</label>
                        <input type="number" name="key" id="" style="width: 110px;">
                    </div>
                    <div class="field">
                        <button class="ui button" type="submit" style="width: 280px; margin-top: 27px">Search</button>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
                function rangeSlide(value) {
                    document.getElementById('rangeValue').innerHTML = value;
                }
            </script>
        </div>
    </body>
    {{> footer }}

</html>
