<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cart</title>
    </head>

    <body>
        <style>
            #middle {
                padding: 15px 0px 15px 25px;
            }

            .img {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 0px -170px;
                height: 160px;
                width: 100%;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                transition-duration: 0.7s;
            }

            .img:hover {
                background-position: 0px -240px;
            }

            #order {
                padding: 0;
                margin-bottom: 40px;
                position: relative;
                transition-duration: 0.5s;
            }

            .txt {
                font-size: 22px;
                margin-bottom: 0;
            }

            .book-name {
                font-family: Editor;
                font-size: 36px;
                margin-bottom: 0;
                overflow: hidden;
                max-height: 160px;
            }

            .block {
                position: relative;
                transition-duration: 0.5s;
            }

            #error-block{
                background-color: crimson;
                color: white;
                font-size: 25px;
                padding: auto;
            }

            #order:hover {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
                    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
            }

            .line {
                width: 80%;
            }

            .circle {
                background-color: crimson;
            }
            .index{
                position: absolute;
                top: 0;
                left: 0;
                padding: 20px;
                border-radius: 20px;
            }
        </style>
        {{>header}}
        <form action="checkout" method="post">
        <div class="block" style="width: 80%; margin-top: 130px; background-color: transparent">
            <div class="row tags" style="display: inline; margin-left: 2px">
                <span class="heading" style="font-size: 40px;">My Cart</span>
            </div>
            {{#if cart}}
            <input type="submit" value="checkout"style="float: right;">
            {{/if}}
        </div>
        {{#if cart}}
        {{#each cart}}
            <div class="block" style="width: 80%;" id="order">
                <div class="index">{{@index}}</div>
                <div class="ui form">
                    <div class="fields">
                        <div class="six wide field">
                            <div class="img" style="background-image: url('/Books/{{ Book.image }}');">
                            </div>
                        </div>
                        <div class="four wide field" id="middle">
                            <p class="book-name">{{ Book.name }}</p>
                        </div>
                        <div class="six wide field" id="middle">
                            <center>
                                <p class="txt ">Author: {{ Book.author }}</p>
                                <hr class="line">
                                <p class="txt" id="middle-text">Price: ${{Book.price}}</p>
                                <hr class="line">
                                <p class="txt">Quantity: {{Quantity}}</p>
                                <hr class="line">
                                <p class="txt">Subtotal: ${{Subtotal}}</p>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
            <input type="hidden" name="numTotal" value="{{total}}">
            <div class="block" style="width: 40%; float: left; margin-left:5cm" id="checkout">
                <div class="form-group">
                    <label class="txt">Address</label>
                    <p><input type="text" id="txtAddress" name="txtAddress" placeholder="Address"></p>
                </div>
            </div>
            <div class="block" style="width: 40%; float: left">
                    <div class="form-group col-md-50"> <label class="txt">Phone Number</label>
                    <p><input type="text" id="txtPhoneNumber" name="txtPhoneNum" placeholder="PhoneNumber"> </div></p>
                </div>
        <div class="block" style="width: 20%; float: right; margin-right: 4.8cm;">
            <p class="txt" >Total: ${{total}}</p>
        </div>
        {{else}}
        <div class="block" id="error-block" style="width: 40%;">
            <center>{{error}}</center>
        </div>
        {{/if}}
        </form>
    </body>
</html>
