<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Orders</title>
</head>
<body>
   {{>header}}
   <div class="block" style="min-width: 80%;">
      <table>
         <tr>
            <div class="ui form">
               <h4 class="ui dividing header">Order: {{ _id }}</h4>
               <div class="fields">
                  <div class="field">
                     <label>Book</label>
                     <p>Harry Potter</p>
                  </div>
                  <div class="field">
                     <img src="" alt="">
                  </div>
                  <div class="field">
                     <label>Price</label>
                     <p>14$</p>
                  </div>
                  <div class="field">
                     <label>Shipping address</label>
                     <p>Linh Dam</p>
                  </div>
                  <div class="field">
                     <label>Status</label>
                     <p>Delivered</p>
                  </div>
                  <div class="field">
                     <a href="">Feedback</a>
                  </div>
               </div>
            </div>
         </tr>
         {{#each orders}}
         <tr>
            <div class="ui form">
               <h4 class="ui dividing header">Order: {{ orders._id }}</h4>
               <div class="fields">
                  <div class="field">
                     <label>Book {{orders.books.name}}</label>
                     <p></p>
                  </div>
                  <div class="field">
                     <img src="" alt="">
                  </div>
                  <div class="field">
                     <label>Price{{orders.total}}</label>
                  </div>
                  <div class="field">
                     <label>Shipping address{{orders.address}}</label>
                  </div>
                  <div class="field">
                     <label>Status {{orders.status}}</label>
                  </div>
                  <div class="field">
                     <a href="">Feedback</a>
                  </div>
               </div>
            </div>
         </tr>
         {{/each}}
      </table>
   </div>
   {{>footer}}
</body>
</html>