<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Orders</title>
   </head>

   <body>
      {{>header}}
      <br><br><br>
      {{#each orders}}
      <div style="margin-top: 100px;"></div>
      <div class="block" style="width: 80%; margin-top: 30px">
            <div class="row tags" style="display: inline;">
               <span class="heading">Order ID: {{_id}}</span>
               <span class="heading" style="float: right">Total: ${{total}}</span>
               <div class="body"> Order Date: {{date}}</div>
               <div class="body">Address: {{address}}</div>
               <div class="body">Telephone: {{phoneNumber}}</div>
               <div class="body">Status: {{status}}</div>
            </div>
            <br>
            <div class="widget">
               <table class="ui padded selectable fixed table tbl">
                  <tr>
                        <th class="center aligned">Books name</th>
                        <th class="center aligned">Quantity</th>
                        <th class="center aligned">Sub-total:</th>
                        <th class="center aligned"> Feedback</th>
                  </tr>
                     {{#each books}}
                        <tr>
                           <td class="center aligned">{{Book.name}}</td>
                           <td class="center aligned">{{Quantity}}</td>
                           <td class="center aligned">${{Subtotal}}</td>
                           <td class="center aligned">
                              <center>
                                 {{#if feedback }}
                                 <span class="head-link disabled" style=" background-color: gray; color: white; border: none">
                                 Unvailable
                                 </span>
                              {{else}}
                                 <a href="/feedback?bookID={{ Book._id }}&orderID={{../_id}}">
                                 <span class="head-link disabled">
                                 Give Feedback
                                 </span>
                                 </a>
                              {{/if}}
                              </center>
                           {{/each}}
                           </td>
                        </tr>
               </table>
               
            </div>
      </div>
      {{/each}}
      {{>footer}}
   </body>

</html>
