<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FPT Bookstore</title>
        <style>

        </style>
    </head>

    <body>
        {{> header }}
        <div class="block" style="margin-top: 100px;">
            <div class="row tags" style="display: inline;">
                <span class="heading">Want to narrow down the choices?</span>
            </div>
            <br><br>
            <form action="/book/advanceSearch" method="GET" class="ui form">
                <h4 class="ui dividing header">Advanced Search</h4>
                <div class="fields">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="key" id="" style="width: 280px;" placeholder="Enter any keyword">
                    </div>
                    <div class="field">
                        <label>Author</label>
                        <input type="text" name="key" id="" style="width: 280px;" placeholder="Enter any Author">
                    </div>
                    <div class="field">
                        <label>Publisher</label>
                        <input type="text" name="key" id="" style="width: 280px;" placeholder="Enter any Publisher">
                    </div>
                    <div class="field">
                        <label>Category</label>
                        <select name="txtCategory" id="multi-select" multiple="" class="ui dropdown search inp"
                                style=" width: 300px;">
                            <option value="">Select one</option>
                            {{#each categories}}
                                <option value="{{name}}" type="checkbox">{{name}}</option>
                            {{/each}}
                        </select>
                        <script>
                            $('#multi-select').dropdown(
                                { maxSelections: 1 }
                            );
                        </script>
                    </div>
                    <div class="field">
                        <label>Max Price</label>
                        <input type="number" name="key" id="" style="width: 110px;">
                    </div>
                    <div class="field">
                        <button class="ui button" type="submit" style="width: 280px; margin-top: 27px">Search</button>
                    </div>
                </div>
            </form>
            <script type="text/javascript">
                function rangeSlide(value) {
                    document.getElementById('rangeValue').innerHTML = value;
                }
            </script>
        </div>
        {{#each categories}}
            <p>{{@index}}</p>
            <div class="block">
                <div class="row tags" style="display: inline;">
                    <span class="heading">{{name}}</span>
                    <a href="/book/category?cat={{name}}">
                        <span class="head-link" style="float: right;">
                            See more
                        </span>
                    </a>
                </div>
                <br>
                <div class="book-cards">
                {{#each Books}}
                    <div class="item">
                        <a href="/book?id={{ _id }}">
                            <div class="book-card">
                                <div class="img-card" style="background-image: url('/Books/{{image}}');">
                                </div>
                                <div class="rating">
                                    <span class="stars" data-rating={{rating}}
                                          data-num-stars="5"></span>
                                </div>
                                <script>
                                    $(function () {
                                        $('.stars').stars();
                                    });
                                </script>
                                <div class="author">{{ author }}</div>
                                <div class="name">{{name}}</div>
                                <div class="btm-row">
                                    <div class="price">$ {{ price }}</div>
                                    <div class="sold">Sold: {{ sold }}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
                 </div>
            </div>
            {{/each}}
        {{> footer }}
    </body>

</html>
