<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update book</title>
    </head>

    <body>
        {{> header }}
        {{> cursor }}
            <br>
            <div class="container-fluid">
                <br>
                <div class="row">
                    <div class="col">
                        <img src="/Books/{{ book.image }}" height="600px" style="margin-right: -100px;">
                    </div>
                    <div class="col" style="margin-left: -20%;">
                        <form action="addToCart" method="POST" class="input-form" enctype="multipart/form-data">
                            <h1>{{ book.name }}</h1>
                            <p>{{ book.author }}</p>
                            <p>Price: ${{ book.price}}</p>
                            <p>Left in stock: {{ book.quantity }}</p>
                            <p>{{ book.publisher }}</p>
                            <p>{{ book.description }}</p>
                            <hr>
                            Quantity: <br>
                            <input type="number" name="numQuantity" class="inp">
                            <input type="submit" value="Add to Cart" class="inp" id="btn_Save">
                        </form>
                    </div>
                </div>
            </div>
    </body>
</html>
