<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
       {{> header }}
        <div class="ui grid">
            <div class="four wide column" >
                <form action="/book/sort" method="GET">
                    <input type="number" name="low" id="">
                    <br>
                    <input type="number" name="high" id="">
                    <br>
                    <input type="text" name="key" id="">
                    <br>
                    <input type="submit" value="sort">
                </form>
            </div>
            <div class="twelve wide column">
                <div class="container d-flex flex-wrap align-items-center" style="width: 90%;">
                    <br />
                    {{#each books}}
                        <a href="/book?id={{_id}}">
                            <div class="book-card">
                                <img src="/Books/{{image}}" />
                                <br />
                                <div class="name">{{name}}</div>
                                <span class="price">${{price}} <br /></span>
                                <a href="" class="btn" id="addCart">Add to Cart</a>
                            </div>
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row">
            {{error}}
        </div>
        <br />
    </body>
</html>