<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
       {{> header }}
        {{> cursor }}
        <div class="col">
                            <form action="/book/search" method="GET">
                                <input type="search" name="key" id="" class="inp" placeholder="Search a book">
                            </form>
                        </div>
        <div class="row">
            {{error}}
        </div>
        <div class="container-book">
            <br />
            {{#each books}}
                <a href="/book?id={{_id}}">
                    <div class="book-card">
                        <img src="/Books/{{image}}" />
                        <br />
                        <div class="name">{{name}}</div>
                        <span class="price">${{price}} <br /></span>
                        <a href="" class="btn" id="addCart">Add to Cart</a>
                    </div>
                </a>
            {{/each}}
        </div>
        <br />
    </body>
</html>